
/*
..........Shopping cart............ 
table { 
  width: 90%  ; 
  border-collapse: collapse; 
  padding: 5px; 
  align-items: center;
  margin: auto;
}

td { 
  padding-top: 10px;  
  padding-bottom: 10px;  
  padding-left: 5px ;
  padding-right:5px;
  align-items: center;
} */
  
.quantityBar {
    display: flex;
    align-items: center;
    width:fit-content;
}
  
.totalAmount{
    text-align: center;
}

img{
    align-items: center;
    display: inline-flex;
}

.center{
    font-size: 23px;
    text-align: center;
    color: rgb(66, 68, 46);
    font-family: monospace;
}

.left{
    padding-left: 15px;
    text-align: left;
}

.right{
    padding-right: 10px;
    text-align: right;
    align-items: right;
}

/*    ______ check out button with arrow animation ________*/
.checkoutButton {
    text-align: center;
    display: flex;
    padding: 16px 20px 16px 15px;
    height: 56px;
    position: relative;
    font-family: inherit;
    font-weight: 500;
    background-color: white;
    cursor: pointer;
    border-radius: 32px;
    box-shadow: 0 8px 32px rgba(0,0,0,0.25);
    transition-duration: 0.3s;
}

.checkoutButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.checkoutButton span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.checkoutButton:hover span {
    padding-right: 20px;
}

.checkoutButton:hover span:after {
    opacity: 1;
    right: 0;
}

.checkoutButton:hover{
    background-color: rgb(239, 239, 239);
}

.checkout{
    padding-left: 10px;
}

.button{
    padding: auto;
    align-items: center;
}

/*     ______main container________   */

.container {
    display: flex;
    width: 45%;
}

.container > * {
    flex: 1 1 0;
  }

.containerLeft{
    display: flex;
    flex: 30%;
}

.containerRight{
    display: flex;
    flex: 70%;
}
.containerRight > * {
    flex: 1 1 0;
  }

.containerCheckout{
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 25px 40px #1687d933;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 400px;
    display: flex;
}

.textColumn{
    display: flex;
}
.textColumn > * {
    flex: 2 1 0;
  }

.textColumnLeft{
    flex: 50%;
    text-align: left;
    margin: 20px;
}

.textColumnRight{
    flex: 50%;
    text-align: right;
    align-items: right;

    justify-content: space-between;
}

.quantityButton{
    border-radius: 10px;
    height: 30px;
    width: 30px;
    background-color: #E1E8EE;
    margin: auto;
    transition-duration: 0.4s;
}

.quantityButton:hover{
    background-color: #c3c4c5;
}

.quantityContainer{
    margin: 5px;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

.grayColor{
    color:rgb(149, 149, 146);
}

.title{
    color:rgb(149, 149, 146);
    font-size: 18px;
    font-style: oblique;
    padding: 40px;
}
.cancelButton{
    margin: 10px;
    margin-right: 10px;
    height: fit-content;
    vertical-align: center;
    background-color: white;
}
.cancelButton:hover{
    background-color: rgb(247, 189, 189);
}   

/* .....................CHECKOUT Page....................... */

.vertical{
    vertical-align: top;
}

.subtitle{
    font-size: 18px;
    text-align: center;
}

.productName{
    font-size: 15px;
    margin-left: 10px;
}

.productPrice{
    font-size: 15px;
    color: gray;
    margin-left: 10px;
}

input{
    box-sizing: border-box;
    border: 0.5px solid gray;
    padding: 2px;
    margin: auto;
    border-radius: 3px;
}

/*----------------- Delivery Page -----------------*/

.timeRangeButton{
    padding: auto;
    box-sizing: border-box;
    border: none;
    background-color: rgb(251, 251, 226);
    transition: background-color 0.3s ease;
}

.timeRangeButton:active{
    background-color: rgb(241, 241, 185);
    border: 0.5px solid gray;
}

/*     ______payment________   */

.containerPayment{
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 25px 40px #1687d933;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100px;
}


/* ------------item page ------------------*/

.itemInformation{
    vertical-align: top;
    margin: 20px;
}

.setPadding{
    padding-right: 10px;
}
